

.container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: brown;
}

input{
    width: 50%;
    height: 50px;
    text-indent: 20px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
}

.one{
    text-align: center;
    color: whitesmoke;
    background-color: black;
}

.two{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 400px;
    color:blue;
}

.todo{
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 20px;
    margin: 10px;
    font-size: 25px;
    font-weight: normal;
    font-family: segoe UI;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
